/* #blog #about #contact  .navigation  */


body {
	padding-top: 70px;
}
.back {
	background-color: #050505;
}
.jumbotron .theTitle {

color: #AAAAAA;

}
#spacer {
	height: 100px;
}
img {
	max-width: 600px;
	max-height: 600px;
	margin: auto;
}